
.Card {
  width: 100%;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: white;
}

.App {
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

.Container {
  padding: 2rem;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}

.NFTSection {
  display: flex;
  background-color: white;
  width: 100%;
  height: auto;
  align-items: center;
  flex-direction: column;
}

.NFTContainer {
  display: flex;
  width: 80%;
  align-items: center;

}

.nftImage {
  margin: 5% auto;
  align-items: center;
  width: 80%;
  display: flex;
}

.NFTSection-title {
  margin: 4% 0;
}